:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#parent{
  width: 50%;
  margin: auto;
  font-size: 100px;
  color: blueviolet;
}

#msg{
  width: 30%;
  font-size: 30px;
}

#counter{
  margin: auto;
  width: 30%;
  padding: 25px;
  font-size: 100px;
}

#mybtn{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.incbtn{
  border: solid 1px green;
  padding: 15px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 20px;
}

.decbtn{
  border: solid 1px red;
  padding: 15px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
}

button{
  border: solid 1px black;
  padding: 10px;
  
}

#one{
  border: solid 2px black;
  width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  
}

#two{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#list-element{
  width: 200px;
  padding-top: 20px;
  margin: auto;
}

#task-header{
  margin: auto;
  width: 300px;
  /* width: 400px;   */
  /* padding-top: 10px; */
}

.button-wrapper{
  display: flex;
  width: 500px;
 padding-top: 50px;
  margin: auto;
  gap: 40px;
}

.parent-weather{
  margin-left:40vw ;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.child-weather{
  padding-top: 20px;
  margin: auto;
  width: 800px;
  justify-content: space-around;
}


.card-wrapper{
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
}

.parent-button button{
  background-color:  #dd7973;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: rgb(24, 23, 23);
}

.list-element{
  width: 200px;
  margin: auto;

}

.list-values{
  display: flex;
}


.img-wrapper{
  padding: 30px;  
  background-color: beige;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.img-wrapper button{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.price-section{
  padding-top: 25px;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 40px;
}

.parent-form{
  width: 50%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.form-wrapper form{
  display: flex;
  gap: 12px;
  padding: 5px;
  margin: 8px;
}

.form-wrapper input{
  padding: 5px;
  border-radius: 8px;
}

.form-child{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listvalues{
  padding-top: 25px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.list-element button{
  align-items: center;
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 80px;
}

.input-values{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  margin: auto;
  padding-top: 55px;
}

.input-values input{
  padding: 5px;
  border-radius: 8px;
  border: solid 2px black;
}

.input-values button{
  background-color: green;
  color: white;
  width: 75px;
  border-radius: 8px;
  border: none;
}

.number-wrapper{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.number-wrapper button{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

.cnt-wrapper{
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
  margin: auto;
  text-align: center ;
  padding-top: 30px;
}

.cnt-wrapper input{
  padding: 5px;
  border-radius: 8px;
  border: solid 2px black;
}

.cnt-wrapper button{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
  
}

.cnt-button{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: auto;
}

.clock{
  width: 50%;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

.notification-wrapper{
  margin: auto;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-wrapper button{
  background-color: green;
  color: white;
  border: none;
  width: 60px;
  border-radius: 8px;
}

.notification-wrapper input{
  padding: 5px;
  border-radius: 8px;
  border: solid 2px black;
}

.parent-wrapper{
  width: 50%;
  margin: auto;
  text-align: center;
}

.box-wrapper{
  border: solid 2px black;
  border-radius: 5px;
}

.parent-wrapper button{
  background-color: black;
  color: white;
  font-weight:900;
}

.parent{
  width: 100%;
  height: 100vh;
}
.mybtn{
  width: 50%;
  margin: auto;
  text-align: center;
}
.parent button{
  margin: auto;
  background-color:goldenrod;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}