:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.parent{
  height: 100vh;
  background-color: #ededed;
}

#parent{
  width: 50%;
  margin: auto;
  font-size: 100px;
  color: blueviolet;
}

#msg{
  width: 30%;
  font-size: 30px;
}

#counter{
  margin: auto;
  width: 30%;
  padding: 25px;
  font-size: 100px;
}

#mybtn{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.incbtn{
  border: solid 1px green;
  padding: 15px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 20px;
}

.decbtn{
  border: solid 1px red;
  padding: 15px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
}

button{
  border: solid 1px black;
  padding: 10px;
  
}

#one{
  border: solid 2px black;
  width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  
}

#two{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#list-element{
  width: 200px;
  padding-top: 20px;
  margin: auto;
}

#task-header{
  margin: auto;
  width: 300px;
  /* width: 400px;   */
  /* padding-top: 10px; */
}

.button-wrapper{
  display: flex;
  width: 500px;
 padding-top: 50px;
  margin: auto;
  gap: 40px;
}

.parent-weather{
  margin-left:40vw ;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.child-weather{
  padding-top: 20px;
  margin: auto;
  width: 800px;
  justify-content: space-around;
}


.card-wrapper{
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
}

.parent-button{
  background-color: #E65182;
  color:white;
}

.layout-button{
   display: flex;
   flex-wrap: wrap;
  justify-content: space-around;
}

.parent-button button{
  margin-top: 18px;
  background-color: rgb(49, 137, 221);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white
}
.heading-wrapper{
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}

.home-wrapper{
  margin: auto;
  background-color: rgb(49, 137, 221);
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.home-wrapper button{
  background-color: #E65182;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size:20px;
  border: none;
  border-radius: 8px;
}

.form-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:50%;
 margin: auto;
}

.form-wrapper input{
  padding: 10px;
  border-radius: 10px;
}

.sidebar-menu{
  width: 400px;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  position: absolute;
  border: solid 5px #E65182;
  background-color:  #E65182;
  opacity: 0.6;
}

.sidebar-button{
  width: 50%;
  
}

.hide-menu{
  display: none;
}

.parent-auth{
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
.child-auth{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  gap: 10px;
}

input{
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}